<!-- Titlebar + Toolbar -->
<div class="titlebar">
  <h1>Manage Account Book</h1>

  <div class="toolbar">
    <button class="btn" (click)="openCreate()">Create</button>
    <!-- Chỉ hiện khi đã chọn 1 dòng -->
    <ng-container *ngIf="selectedIndex !== null">
      <button class="btn" (click)="attach()">Attach</button>
      <button class="btn" (click)="openEdit()">Edit</button>
      <button class="btn danger" (click)="openDeleteConfirm()">Delete</button>
      <button class="btn danger" (click)="detach()">Detach</button>
    </ng-container>
    <button class="btn" (click)="refresh()">Refresh</button>
  </div>
</div>

<!-- Grid -->
<div class="gridwrap">
  <table class="company-table">
    <thead>
      <tr>
        <th class="col-flag"></th>
        <th>Company Name</th>
        <th>Remark</th>
        <th>Version</th>
        <th>Server</th>
        <th>Database Name</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let c of listserver; let i = index"
        (click)="select(i)"
        [class.selected]="i === selectedIndex"
      >
        <td class="col-flag">
          <span *ngIf="isCurrent(c)" class="flag-dot" title="Current login"></span>
        </td>
        <td>{{ c.Company }}</td>
        <td>{{ c.Remark }}</td>
        <td>{{ c.Version }}</td>
        <td>{{ c.Server }}</td>
        <td>{{ c.Database }}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Create dialog (giữ nguyên) -->
<div class="dialog" *ngIf="showCreate">
  <div class="dialog-panel" style="min-height: 880px; overflow: auto">
    <div class="dialog-title">
       Create Account Book
      <button
        class="x"
        (click)="closeCodeDialogSetupNewDb()"
        aria-label="Close"
      >
        &times;
      </button>
    </div>
    <div class="dialog-body">
      <app-config-new-db
        (cancel)="closeCodeDialogSetupNewDb()"
      ></app-config-new-db>
    </div>
  </div>
</div>

<!-- DELETE CONFIRM dialog -->
<div class="dialog" *ngIf="showDeleteConfirm">
  <div class="dialog-panel-small">
    <div class="dialog-title">
      Delete Account Book
      <button class="x" (click)="closeDeleteConfirm()" aria-label="Close">
        &times;
      </button>
    </div>
    <div class="dialog-body">
      <p>
        Are you sure you want to delete <b>{{ selectedItem?.Company }}</b> (DB:
        {{ selectedItem?.Database }})?
      </p>
    </div>
    <div class="dialog-actions">
      <button class="btn cancel" (click)="closeDeleteConfirm()">Cancel</button>
      <button class="btn danger" (click)="confirmDelete()">Delete</button>
    </div>
  </div>
</div>

<!-- EDIT dialog -->
<div class="dialog" *ngIf="showEdit">
  <div class="dialog-panel">
    <div class="dialog-title">
      Edit Account Book
      <button class="x" (click)="closeEdit()" aria-label="Close">
        &times;
      </button>
    </div>

    <form class="dialog-body" [formGroup]="editForm" (ngSubmit)="saveEdit()"  autocomplete="off">
      <div class="grid2">
        <label
          >Company Name
          <input type="text" formControlName="Company" />
        </label>
        <label
          >Remark
          <input type="text" formControlName="Remark" />
        </label>
      </div>
      <br />
      <div class="grid2">
        <label
          >Version
          <input type="text" formControlName="Version"  name="version_display"
             autocomplete="off"
             inputmode="text"
             spellcheck="false" />
        </label>
          <div class="col-span-1" style="align-self:end"></div>
      </div>
       <br />
      <p class="edit-hint">
  If you want to reset the password, please type in a new password.
</p>

<div class="grid2">
  <label>SA Password
    <input type="password" formControlName="SaPassword"  autocomplete="new-password" />
  </label>
</div>
<br />
      <div class="dialog-actions">
        <button type="button" class="btn cancel" (click)="closeEdit()">Cancel</button>
        <button type="submit" class="btn primary" [disabled]="editForm.invalid">
          Save
        </button>
      </div>
    </form>
  </div>
</div>
<div class="dialog" *ngIf="showEditDone">
  <div class="dialog-panel-small">
    <div class="dialog-title">
      Edit Account Book
      <button class="x" (click)="closeEditDone()" aria-label="Close">
        &times;
      </button>
    </div>
    <div class="dialog-body">
      <p>The account book was successfully edited.</p>
    </div>
    <div class="dialog-actions">
      <button class="btn primary" (click)="closeEditDone()">OK</button>
    </div>
  </div>
</div>
<!-- ATTACH dialog -->
<div class="dialog" *ngIf="showAttach">
  <div class="dialog-panel">
    <div class="dialog-title">
      Attach Account Book
      <button class="x" (click)="closeAttach()" aria-label="Close">
        &times;
      </button>
    </div>

    <form
      class="dialog-body attach-form"
      [formGroup]="attachForm"
      (ngSubmit)="confirmAttach()"
    >
      <!-- Server + Database -->
      <div class="grid2">
        <label
          >Server Name
          <select
            formControlName="serverName"
            (change)="onServerChangeAttach()"
          >
            <option *ngFor="let s of serverList" [ngValue]="s">{{ s }}</option>
          </select>
        </label>

        <label
          >Database Name
          <select formControlName="databaseName">
            <option *ngFor="let d of databaseList" [ngValue]="d">
              {{ d }}
            </option>
          </select>
        </label>
      </div>
      <div class="attach-radios">
        <label class="radio-inline">
          <input type="radio" value="sa" formControlName="loginMode" />
          <span>Use Default SA Account and Password</span>
        </label>

        <label class="radio-inline">
          <input type="radio" value="custom" formControlName="loginMode" />
          <span>Use the following User Name and Password</span>
        </label>
      </div>

      <!-- User & Password -->
      <div class="grid2">
        <label
          >User Name:
          <input
            type="text"
            formControlName="userName"
            [readonly]="loginMode !== 'custom'"
            [class.input-readonly]="loginMode !== 'custom'"
            autocomplete="off"
          />
        </label>

        <label
          >Password:
          <input
            type="password"
            formControlName="password"
            [readonly]="loginMode !== 'custom'"
            [class.input-readonly]="loginMode !== 'custom'"
            autocomplete="off"
          />
        </label>
      </div>
      <br />
      <div class="dialog-actions">
        <button class="btn cancel" type="button" (click)="closeAttach()">
          Cancel
        </button>
        <button
          class="btn primary"
          type="submit"
          [disabled]="attachForm.invalid"
           (click)="attachSubmit()"
        >
          OK
        </button>
      </div>
    </form>
  </div>
</div>
<!-- DELETE: Done -->
<div class="dialog" *ngIf="showAttachDone">
  <div class="dialog-panel-small">
    <div class="dialog-title">
      Attach Account Book
    </div>
    <div class="dialog-body">
      <p>The account book was successfully attached.</p>
    </div>
    <div class="dialog-actions">
      <button class="btn primary" (click)="closeAttachDone()">OK</button>
    </div>
  </div>
</div>

<div class="dialog" *ngIf="showDetachConfirm">
  <div class="dialog-panel-small">
    <div class="dialog-title">
      Detach Account Book
      <button class="x" (click)="closeDetachFlow()" aria-label="Close">
        &times;
      </button>
    </div>
    <div class="dialog-body">
      <p>
        Do you really want to detach this account book
        <b>{{ selectedItem?.Company }}</b
        >?
      </p>
    </div>
    <div class="dialog-actions">
      <button class="btn cancel" (click)="closeDetachFlow()">No</button>
      <button class="btn primary" (click)="proceedDetach()">Yes</button>
    </div>
  </div>
</div>

<div class="dialog" *ngIf="showDetachAuth">
  <div class="dialog-panel-small">
    <div class="dialog-title">
      ADMIN password required
      <button class="x" (click)="closeDetachFlow()" aria-label="Close">
        &times;
      </button>
    </div>

    <form
      class="dialog-body"
      [formGroup]="detachAdminForm"
      (ngSubmit)="submitDetach()"
    >
      <!-- dòng hướng dẫn -->
      <p class="dialog-hint">
        Please enter the ADMIN password in order to perform this operation
      </p>

      <label
        >User ID:
        <input formControlName="userId" readonly />
      </label>
      <br>
      <label
        >SA Password:
        <input type="password" formControlName="password" autocomplete="off" />
      </label>

      <div class="dialog-actions">
        <button type="button" class="btn cancel" (click)="closeDetachFlow()">
          Cancel
        </button>
        <button
        (click)="detachSubmit()"
          type="submit"
          class="btn primary"
          [disabled]="detachAdminForm.invalid || detaching"
        >
          OK
        </button>
      </div>
    </form>
  </div>
</div>

<!-- DETACH: Done -->
<div class="dialog" *ngIf="showDetachDone">
  <div class="dialog-panel-small">
    <div class="dialog-title">Detach Account Book</div>
    <div class="dialog-body">
      <p>The account book was successfully detached.</p>
    </div>
    <div class="dialog-actions">
      <button class="btn primary" (click)="closeDetachDone()">OK</button>
    </div>
  </div>
</div>
<div class="dialog" *ngIf="showDeleteConfirm1">
  <div class="dialog-panel-small">
    <div class="dialog-title">
      Delete Account Book
      <button class="x" (click)="closeDeleteFlow()" aria-label="Close">
        &times;
      </button>
    </div>
    <div class="dialog-body">
      <p>
        Do you really want to delete this account book
        <b>{{ selectedItem?.Company }}</b
        >?
      </p>
    </div>
    <div class="dialog-actions">
      <button class="btn cancel" (click)="closeDeleteFlow()">No</button>
      <button class="btn primary" (click)="goDeleteStep2()">Yes</button>
    </div>
  </div>
</div>

<!-- DELETE: Confirm #2 (cảnh báo) -->
<div class="dialog" *ngIf="showDeleteConfirm2">
  <div class="dialog-panel-small">
    <div class="dialog-title">
      Delete Account Book
      <button class="x" (click)="closeDeleteFlow()" aria-label="Close">
        &times;
      </button>
    </div>
    <div class="dialog-body">
      <p>
        Are you sure you want to delete this account book
        <b>{{ selectedItem?.Company }}</b
        >?
      </p>
      <p style="margin-top: 6px; color: #6b7280">
        (Note: Once deleted, you can't get back the data, unless you have backup
        copy)
      </p>
    </div>
    <div class="dialog-actions">
      <button class="btn cancel" (click)="closeDeleteFlow()">No</button>
      <button class="btn primary" (click)="proceedDeleteAuth()">Yes</button>
    </div>
  </div>
</div>

<!-- DELETE: ADMIN password -->
<div class="dialog" *ngIf="showDeleteAuth">
  <div class="dialog-panel-small">
    <div class="dialog-title">
      ADMIN password required
      <button class="x" (click)="closeDeleteFlow()" aria-label="Close">
        &times;
      </button>
    </div>
    <form
      class="dialog-body"
      [formGroup]="deleteAdminForm"
      (ngSubmit)="confirmDelete()"
    >
      <p class="dialog-hint">
        Please enter the ADMIN password in order to perform this operation
      </p>
      <label
        >User ID:
        <input formControlName="userId" readonly />
      </label>
      <br>
      <label
        >SA Password:
        <input type="password" formControlName="password" autocomplete="off" />
      </label>
      <div class="dialog-actions">
        <button type="button" class="btn cancel" (click)="closeDeleteFlow()">
          Cancel
        </button>
        <button
          type="submit"
          class="btn primary"
          [disabled]="deleteAdminForm.invalid || deleting"
        >
          OK
        </button>
      </div>
    </form>
  </div>
</div>

<!-- DELETE: Done -->
<div class="dialog" *ngIf="showDeleteDone">
  <div class="dialog-panel-small">
    <div class="dialog-title">
      Delete Account Book
    </div>
    <div class="dialog-body">
      <p>The account book was successfully deleted.</p>
    </div>
    <div class="dialog-actions">
      <button class="btn primary" (click)="closeDeleteDone()">OK</button>
    </div>
  </div>
</div>

