.overdue-row td {
  background: #fff1f2;      /* đỏ nhạt */
}

.overdue-row td,
.overdue-row input {
  /* chữ hơi đậm để nổi nhẹ */
  color: #7f1d1d;           /* red-900 nhạt hơn có thể dùng #b91c1c */
}