<div class="login-wrapper">
  <mat-card class="login-card">
    <div class="login-header">
      <div class="login-logo">AC</div>
      <div class="login-title-group">
        <h1>Sign in</h1>
        <p>AutoCount Accounting Web</p>
      </div>
    </div>

    <form [formGroup]="form" (ngSubmit)="submit()" class="login-form">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" autocomplete="username" />
        <mat-error
          *ngIf="
            form.controls['username'].hasError('required') &&
            form.controls['username'].touched
          "
        >
          Username is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          formControlName="password"
          autocomplete="current-password"
        />
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="hidePassword = !hidePassword"
        >
          <mat-icon>{{
            hidePassword ? 'visibility_off' : 'visibility'
          }}</mat-icon>
        </button>
        <mat-error
          *ngIf="
            form.controls['password'].hasError('required') &&
            form.controls['password'].touched
          "
        >
          Password is required
        </mat-error>
      </mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Company</mat-label>
  <mat-select formControlName="company">
    <mat-option *ngIf="companiesLoading" disabled>Loading...</mat-option>

    <mat-option
      *ngFor="let c of companies"
      [value]="c.Id"
    >
      {{ c.Company }}
    </mat-option>
  </mat-select>

  <mat-error
    *ngIf="
      form.controls['company'].hasError('required') &&
      form.controls['company'].touched
    "
  >
    Company is required
  </mat-error>
</mat-form-field>

<div class="error-message" *ngIf="companiesError">
  {{ companiesError }}
</div>


      <button
        mat-raised-button
        color="primary"
        class="login-button"
        type="submit"
      >
        Login
      </button>

      <div class="hint">
        Demo: <strong>admin / 123456</strong>
      </div>
    </form>
  </mat-card>
</div>
